# Explore here

In [1]:
# Your code here
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df = pd.read_csv("../data/raw/crocodile_dataset.csv")
df.head()

,Observation ID,Common Name,Scientific Name,Family,Genus,Observed Length (m),Observed Weight (kg),Age Class,Sex,Date of Observation,Country/Region,Habitat Type,Conservation Status,Observer Name,Notes
0,1,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,1.90,62.0,Adult,Male,31-03-2018,Belize,Swamps,Least Concern,Allison Hill,Cause bill scientist nation opportunity.
1,2,American Crocodile,Crocodylus acutus,Crocodylidae,Crocodylus,4.09,334.5,Adult,Male,28-01-2015,Venezuela,Mangroves,Vulnerable,Brandon Hall,Ago current practice nation determine operatio...
2,3,Orinoco Crocodile,Crocodylus intermedius,Crocodylidae,Crocodylus,1.08,118.2,Juvenile,Unknown,07-12-2010,Venezuela,Flooded Savannas,Critically Endangered,Melissa Peterson,Democratic shake bill here grow gas enough ana...
3,4,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,2.42,90.4,Adult,Male,01-11-2019,Mexico,Rivers,Least Concern,Edward Fuller,Officer relate animal direction eye bag do.
4,5,Mugger Crocodile (Marsh Crocodile),Crocodylus palustris,Crocodylidae,Crocodylus,3.75,269.4,Adult,Unknown,15-07-2019,India,Rivers,Vulnerable,Donald Reid,Class great prove reduce raise author play mov...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Observation ID        1000 non-null   int64
 1   Common Name           1000 non-null   object
 2   Scientific Name       1000 non-null   object
 3   Family                1000 non-null   object
 4   Genus                 1000 non-null   object
 5   Observed Length (m)   1000 non-null   float64
 6   Observed Weight (kg)  1000 non-null   float64
 7   Age Class             1000 non-null   object
 8   Sex                   1000 non-null   object
 9   Date of Observation   1000 non-null   object
 10  Country/Region        1000 non-null   object
 11  Habitat Type          1000 non-null   object
 12  Conservation Status   1000 non-null   object
 13  Observer Name         1000 non-null   object
 14  Notes                 1000 non-null   object
dtypes: float64(2), int64(1), object(12)
memory usage: 117.3+ KB

In [4]:
category_mapping = {
    'Age Class': dict(enumerate(df['Age Class'].astype('category').cat.categories)),
    'Sex':  dict(enumerate(df['Sex'].astype('category').cat.categories)),
    'Genus': dict(enumerate(df['Genus'].astype('category').cat.categories)),
    'Common Name': dict(enumerate(df['Common Name'].astype('category').cat.categories)),
    'Habitat Type': dict(enumerate(df['Habitat Type'].astype('category').cat.categories)),
    'Country/Region': dict(enumerate(df['Country/Region'].astype('category').cat.categories))


}

print(category_mapping)

{'Age Class': {0: 'Adult', 1: 'Hatchling', 2: 'Juvenile', 3: 'Subadult'}, 'Sex': {0: 'Female', 1: 'Male', 2: 'Unknown'}, 'Genus': {0: 'Crocodylus', 1: 'Mecistops', 2: 'Osteolaemus'}, 'Common Name': {0: 'American Crocodile', 1: 'Borneo Crocodile (disputed)', 2: 'Central African Slender-snouted Crocodile', 3: 'Congo Dwarf Crocodile', 4: 'Cuban Crocodile', 5: "Freshwater Crocodile (Johnstone's)", 6: "Hall's New Guinea Crocodile", 7: "Morelet's Crocodile", 8: 'Mugger Crocodile (Marsh Crocodile)', 9: 'New Guinea Crocodile', 10: 'Nile Crocodile', 11: 'Orinoco Crocodile', 12: 'Philippine Crocodile', 13: 'Saltwater Crocodile', 14: 'Siamese Crocodile', 15: 'West African Crocodile', 16: 'West African Dwarf Crocodile', 17: 'West African Slender-snouted Crocodile'}, 'Habitat Type': {0: 'Billabongs', 1: 'Brackish Rivers', 2: 'Coastal Lagoons', 3: 'Coastal Wetlands', 4: 'Estuaries', 5: 'Estuarine Systems', 6: 'Flooded Savannas', 7: 'Forest Rivers', 8: 'Forest Swamps', 9: 'Freshwater Marshes', 10: 'Freshwater Rivers', 11: 'Freshwater Wetlands', 12: 'Gorges', 13: 'Lagoons', 14: 'Lakes', 15: 'Large Rivers', 16: 'Mangroves', 17: 'Marshes', 18: 'Oases', 19: 'Oxbow Lakes', 20: 'Ponds', 21: 'Reservoirs', 22: 'Rivers', 23: 'Shaded Forest Rivers', 24: 'Slow Rivers', 25: 'Slow Streams', 26: 'Small Streams', 27: 'Swamps', 28: 'Tidal Rivers'}, 'Country/Region': {0: 'Australia', 1: 'Belize', 2: 'Cambodia', 3: 'Cameroon', 4: 'Central African Republic', 5: 'Chad', 6: 'Colombia', 7: 'Congo (DRC)', 8: 'Congo Basin Countries', 9: 'Costa Rica', 10: 'Cuba', 11: "Côte d'Ivoire", 12: 'Egypt', 13: 'Gabon', 14: 'Ghana', 15: 'Guatemala', 16: 'Guinea', 17: 'India', 18: 'Indonesia', 19: 'Indonesia (Borneo)', 20: 'Indonesia (Papua)', 21: 'Iran (historic)', 22: 'Kenya', 23: 'Laos', 24: 'Liberia', 25: 'Malaysia', 26: 'Malaysia (Borneo)', 27: 'Mali', 28: 'Mauritania', 29: 'Mexico', 30: 'Nepal', 31: 'Niger', 32: 'Nigeria', 33: 'Pakistan', 34: 'Papua New Guinea', 35: 'Philippines', 36: 'Senegal', 37: 'Sierra Leone', 38: 'South Africa', 39: 'Sri Lanka', 40: 'Sudan', 41: 'Tanzania', 42: 'Thailand', 43: 'USA (Florida)', 44: 'Uganda', 45: 'Venezuela', 46: 'Vietnam'}}

In [5]:
df['Age Class'] = df['Age Class'].astype('category').cat.codes
df['Sex'] = df['Sex'].astype('category').cat.codes
df['Genus'] = df['Genus'].astype('category').cat.codes
df['Common Name'] = df['Common Name'].astype('category').cat.codes
df['Habitat Type'] = df['Habitat Type'].astype('category').cat.codes
df['Country/Region'] = df['Country/Region'].astype('category').cat.codes

In [6]:
df.head()

,Observation ID,Common Name,Scientific Name,Family,Genus,Observed Length (m),Observed Weight (kg),Age Class,Sex,Date of Observation,Country/Region,Habitat Type,Conservation Status,Observer Name,Notes
0,1,7,Crocodylus moreletii,Crocodylidae,0,1.90,62.0,0,1,31-03-2018,1,27,Least Concern,Allison Hill,Cause bill scientist nation opportunity.
1,2,0,Crocodylus acutus,Crocodylidae,0,4.09,334.5,0,1,28-01-2015,45,16,Vulnerable,Brandon Hall,Ago current practice nation determine operatio...
2,3,11,Crocodylus intermedius,Crocodylidae,0,1.08,118.2,2,2,07-12-2010,45,6,Critically Endangered,Melissa Peterson,Democratic shake bill here grow gas enough ana...
3,4,7,Crocodylus moreletii,Crocodylidae,0,2.42,90.4,0,1,01-11-2019,29,22,Least Concern,Edward Fuller,Officer relate animal direction eye bag do.
4,5,8,Crocodylus palustris,Crocodylidae,0,3.75,269.4,0,2,15-07-2019,17,22,Vulnerable,Donald Reid,Class great prove reduce raise author play mov...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Observation ID        1000 non-null   int64
 1   Common Name           1000 non-null   int8
 2   Scientific Name       1000 non-null   object
 3   Family                1000 non-null   object
 4   Genus                 1000 non-null   int8
 5   Observed Length (m)   1000 non-null   float64
 6   Observed Weight (kg)  1000 non-null   float64
 7   Age Class             1000 non-null   int8
 8   Sex                   1000 non-null   int8
 9   Date of Observation   1000 non-null   object
 10  Country/Region        1000 non-null   int8
 11  Habitat Type          1000 non-null   int8
 12  Conservation Status   1000 non-null   object
 13  Observer Name         1000 non-null   object
 14  Notes                 1000 non-null   object
dtypes: float64(2), int64(1), int8(6), object(6)
memory usage: 76.3+ KB

In [8]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# Define features and target variables
features = ['Observed Length (m)', 'Observed Weight (kg)', 'Age Class', 'Sex', 'Habitat Type', 'Country/Region']
target_genus = 'Genus'
target_common_name = 'Common Name'

# Split data into training and testing sets for Genus
X_train_genus, X_test_genus, y_train_genus, y_test_genus = train_test_split(df[features], df[target_genus], test_size=0.2, random_state=42)

# Split data into training and testing sets for Common Name
X_train_common_name, X_test_common_name, y_train_common_name, y_test_common_name = train_test_split(
    df[features], df[target_common_name], test_size=0.2, random_state=42
)

# Initialize Decision Tree classifier
dt_genus = DecisionTreeClassifier(random_state=42)
dt_common_name = DecisionTreeClassifier(random_state=42)

# Train the model for Genus
dt_genus.fit(X_train_genus, y_train_genus)

# Train the model for Common Name
dt_common_name.fit(X_train_common_name, y_train_common_name)

# Make predictions on the test set for Genus
y_pred_genus = dt_genus.predict(X_test_genus)

# Make predictions on the test set for Common Name
y_pred_common_name = dt_common_name.predict(X_test_common_name)

# Evaluate the model for Genus
accuracy_genus = accuracy_score(y_test_genus, y_pred_genus)
print(f'Accuracy for Genus prediction (Decision Tree): {accuracy_genus}')

# Evaluate the model for Common Name
accuracy_common_name = accuracy_score(y_test_common_name, y_pred_common_name)
print(f'Accuracy for Common Name prediction (Decision Tree): {accuracy_common_name}')

Accuracy for Genus prediction (Decision Tree): 0.995
Accuracy for Common Name prediction (Decision Tree): 0.93

In [9]:
import pickle

# Define the file paths for saving the models
filename_genus = '../models/decision_tree_genus_model.pkl'
filename_common_name = '../models/decision_tree_common_name_model.pkl'

# Save the trained Decision Tree model for Genus
pickle.dump(dt_genus, open(filename_genus, 'wb'))

# Save the trained Decision Tree model for Common Name
pickle.dump(dt_common_name, open(filename_common_name, 'wb'))

In [10]:
print

In [11]:
def get_keys_from_value(dictionary, value_to_find):
    return [key for key, val in dictionary.items() if val == value_to_find]

In [12]:
def predict_with_dt(length, weight, age_class, sex, habitat_type, country_region, model_genus, model_common_name, category_mapping):
    """
    Predicts the Genus and Common Name of a crocodile using a pre-trained Decision Tree model.

    Args:
        length (float): Observed length of the crocodile in meters.
        weight (float): Observed weight of the crocodile in kilograms.
        age_class (str): Age class of the crocodile (e.g., 'Adult', 'Juvenile').
        sex (str): Sex of the crocodile (e.g., 'Male', 'Female').
        habitat_type (str): Type of habitat where the crocodile was observed (e.g., 'Rivers', 'Swamps').
        country_region (str): Country or region where the crocodile was observed (e.g., 'Australia', 'Africa').
        model_genus (DecisionTreeClassifier): Pre-trained Decision Tree model for Genus prediction.
        model_common_name (DecisionTreeClassifier): Pre-trained Decision Tree model for Common Name prediction.
        category_mapping (dict): Dictionary containing the mapping of categorical values to numerical codes.

    Returns:
        tuple: A tuple containing the predicted Genus and Common Name.
    """

    # Convert input strings to numerical categories using the provided mapping
    age_class_encoded = get_keys_from_value(category_mapping['Age Class'], age_class)[0]
    sex_encoded = get_keys_from_value(category_mapping['Sex'],sex)[0]
    habitat_type_encoded = get_keys_from_value(category_mapping['Habitat Type'],habitat_type)[0]
    country_region_encoded = get_keys_from_value(category_mapping['Country/Region'],country_region)[0]


    # Create a feature array from the input values
    features = np.array([length, weight, age_class_encoded, sex_encoded, habitat_type_encoded, country_region_encoded]).reshape(1, -1)

    # Predict the Genus and Common Name using the pre-trained models
    genus_encoded = model_genus.predict(features)[0]
    common_name_encoded = model_common_name.predict(features)[0]

    genus =  category_mapping['Genus'][genus_encoded]
    common_name = category_mapping['Common Name'][common_name_encoded]

    return genus, common_name

In [13]:
predict_with_dt(2.5,200,'Adult','Male','Rivers','Australia', dt_genus, dt_common_name, category_mapping )

/opt/anaconda3/envs/tensorflow/lib/python3.11/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
/opt/anaconda3/envs/tensorflow/lib/python3.11/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

('Crocodylus', "Freshwater Crocodile (Johnstone's)")

Conclusiones: El modelo predice con precision el Genus y el Common Name de la especie de cocodrilo se pude hacer un front con HTML y flask.